    @font-face {
      font-family: 'mcfont';
      src: url('https://xyztoast2.github.io/mcfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'mcfontb';
      src: url('https://xyztoast2.github.io/mcfontb.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    body {
        background-color: #212425;
    }
    h1 {
        font-family: 'mcfontb';
    }
    p {
        font-family: 'mcfont';
    }
    input {
        font-family: 'mcfont';
    }
    button {
        font-family: 'mcfont';
    }
